<template>
  <div>
    <template v-if="config">
    </template>
    <template v-else>
      {{field.name}}:
      <component v-for="listField, index in fields" ref="fieldsComponents" :key="index" v-bind:is="listField.type" :field="listField"></component>
      <v-btn color="secondary" @click="addFieldToList"><v-icon>mdi-plus</v-icon></v-btn>
    </template>
  </div>
</template>

<script>
import BaseFieldMixin from '@/components/fields/BaseFieldMixin'

let defaultParameters = {
  fields: [],
  type: '',
  fieldsDefaultParameters: {}
}

export default {
  mixins: [BaseFieldMixin],
  props: {
    config: Boolean
  },

  data: () => ({ ...defaultParameters }),

  computed: {
    fieldTypesDescription () {
      return {
        name: 'List',
        description: '',
        categories: [],
        parameters: { ...defaultParameters }
      }
    },

    valueToInject () {
      return this.$refs.fieldsComponents.map(c => c.valueToInject)
    }
  },

  methods: {
    addFieldToList () {
      this.fields.push({ name: '', type: this.type, parameters: { ...this.fieldsDefaultParameters } })
      console.log(this)
      console.log(this.fields)
    }
  }
}
</script>
