<template>
  <div>
    <template v-if="config">
    </template>
    <template v-else>
      <v-text-field :label="field.name" color="secondary" v-model="fieldValue"></v-text-field>
    </template>
  </div>
</template>

<script>
import BaseFieldMixin from '@/components/fields/BaseFieldMixin'

let defaultParameters = {
  fieldValue: ''
}

export default {
  mixins: [BaseFieldMixin],
  props: {
    config: Boolean
  },

  mounted () {
    console.log(this.field)
  },

  watch: {
    fieldValue(newVal) {
      this.field.parameters.fieldValue = newVal;
    }
  },

  data: () => ({ ...defaultParameters }),

  computed: {
    fieldTypesDescription () {
      return {
        name: 'Text Field',
        description: 'A simple text field.<br><br>Just type the name of the variable in the template to insert its value, like this: { variableName }',
        categories: ['Basic'],
        parameters: { ...defaultParameters }
      }
    },

    valueToInject () {
      return this.fieldValue
    }
  }
}
</script>
