<template>
  <div>
    <template v-if="config">
    </template>
    <template v-else>
      <v-row>
        <v-col class="col-12">{{field.name}}:</v-col>
        <v-col class="col-12">Base parameters:</v-col>
        <v-col class="col-3"><v-select label="Attack Vector (AV)" color="secondary" v-model="av" :items="avValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Attack Complexity (AC)" color="secondary" v-model="ac" :items="acValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Privileges required (PR)" color="secondary" v-model="pr" :items="prValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="User interaction (UI)" color="secondary" v-model="ui" :items="uiValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Scope (S)" color="secondary" v-model="s" :items="sValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Confidentiality (C)" color="secondary" v-model="c" :items="cValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Integrity (I)" color="secondary" v-model="i" :items="iValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Availability (A)" color="secondary" v-model="a" :items="aValues"></v-select></v-col>

        <v-col class="col-12">Temporal parameters:</v-col>
        <v-col class="col-4"><v-select label="Exploit Code Maturity (E)" color="secondary" v-model="e" :items="eValues"></v-select></v-col>
        <v-col class="col-4"><v-select label="Remediation Level (RL)" color="secondary" v-model="rl" :items="rlValues"></v-select></v-col>
        <v-col class="col-4"><v-select label="Report Confidence (RC)" color="secondary" v-model="rc" :items="rcValues"></v-select></v-col>
        <!--
        <v-col class="col-12">Environmental parameters:</v-col>
        <v-col class="col-3"><v-select label="Confidentiality Requirement (CR)" color="secondary" v-model="cr" :items="crValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Integrity Requirement (IR)" color="secondary" v-model="ir" :items="irValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Availability Requirement (AR)" color="secondary" v-model="ar" :items="arValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Attack Vector (MAV)" color="secondary" v-model="mav" :items="mavValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Attack Complexity (MAC)" color="secondary" v-model="mac" :items="macValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Privileges Required (MPR)" color="secondary" v-model="mpr" :items="mprValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified User Interaction (MUI)" color="secondary" v-model="mui" :items="muiValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Scope (MS)" color="secondary" v-model="ms" :items="msValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Confidentiality (MC)" color="secondary" v-model="mc" :items="mcValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Integrity (MI)" color="secondary" v-model="mi" :items="miValues"></v-select></v-col>
        <v-col class="col-3"><v-select label="Modified Availability (MA)" color="secondary" v-model="ma" :items="maValues"></v-select></v-col>
      -->
        <v-col class="col-12">Results preview:</v-col>
        <v-col class="col-4"><v-text-field readonly label="Base Score" :value="baseScore"></v-text-field></v-col>
        <v-col class="col-4"><v-text-field readonly label="Temporal Score" :value="temporalScore"></v-text-field></v-col>
        <!--<v-col class="col-4"><v-text-field readonly label="Environmental Score" :value="environmentalScore"></v-text-field></v-col>-->
        <v-col class="col-12"><v-text-field readonly label="Vector" :value="fullVector"></v-text-field></v-col>
      </v-row>
    </template>
  </div>
</template>

<script>
import BaseFieldMixin from '@/components/fields/BaseFieldMixin'
import cvss from 'cvss'

let defaultParameters = {
  // Base score needed values
  av: null,
  ac: null,
  pr: null,
  ui: null,
  s: null,
  c: null,
  i: null,
  a: null,

  // Temporal score values
  e: null,
  rl: null,
  rc: null,

  // Environmental score values
  cr: null,
  ir: null,
  ar: null,
  mav: null,
  mac: null,
  mpr: null,
  mui: null,
  ms: null,
  mc: null,
  mi: null,
  ma: null
}

export default {
  mixins: [BaseFieldMixin],
  props: {
    config: Boolean
  },

  data: () => ({
    ...defaultParameters,
    avValues: [
      { text: 'Network (N)', value: 'N' },
      { text: 'Adjacent (A)', value: 'A' },
      { text: 'Local (L)', value: 'L' },
      { text: 'Physical (P)', value: 'P' }
    ],
    acValues: [
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    prValues: [
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    uiValues: [
      { text: 'None (N)', value: 'N' },
      { text: 'Required (R)', value: 'R' }
    ],
    sValues: [
      { text: 'Unchanged (U)', value: 'U' },
      { text: 'Changed (C)', value: 'C' }
    ],
    cValues: [
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    iValues: [
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    aValues: [
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],

    // Temporal score values
    eValues: [
      { text: 'Not defined', value: null },
      { text: 'Unproven (U)', value: 'U' },
      { text: 'Proof-of-Concept (P)', value: 'P' },
      { text: 'Functional (F)', value: 'F' },
      { text: 'High (H)', value: 'H' }
    ],
    rlValues: [
      { text: 'Not defined', value: null },
      { text: 'Official Fix (O)', value: 'O' },
      { text: 'Temporary Fix (T)', value: 'T' },
      { text: 'Workaround (W)', value: 'W' },
      { text: 'Unavailable (U)', value: 'U' }
    ],
    rcValues: [
      { text: 'Not defined', value: null },
      { text: 'Unknown (U)', value: 'U' },
      { text: 'Reasonable (R)', value: 'R' },
      { text: 'Confirmed (C)', value: 'C' }
    ],

    // Environmental score values
    crValues: [
      { text: 'Not defined', value: null },
      { text: 'Low (L)', value: 'L' },
      { text: 'Medium (M)', value: 'M' },
      { text: 'High (H)', value: 'H' }
    ],
    irValues: [
      { text: 'Not defined', value: null },
      { text: 'Low (L)', value: 'L' },
      { text: 'Medium (M)', value: 'M' },
      { text: 'High (H)', value: 'H' }
    ],
    arValues: [
      { text: 'Not defined', value: null },
      { text: 'Low (L)', value: 'L' },
      { text: 'Medium (M)', value: 'M' },
      { text: 'High (H)', value: 'H' }
    ],
    mavValues: [
      { text: 'Not defined', value: null },
      { text: 'Network (N)', value: 'N' },
      { text: 'Adjacent Network (A)', value: 'A' },
      { text: 'Local (L)', value: 'L' },
      { text: 'Physical (P)', value: 'P' }
    ],
    macValues: [
      { text: 'Not defined', value: null },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    mprValues: [
      { text: 'Not defined', value: null },
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    muiValues: [
      { text: 'Not defined', value: null },
      { text: 'None (N)', value: 'N' },
      { text: 'Required (R)', value: 'R' }
    ],
    msValues: [
      { text: 'Not defined', value: null },
      { text: 'Unchanged (U)', value: 'U' },
      { text: 'Changed (C)', value: 'C' }
    ],
    mcValues: [
      { text: 'Not defined', value: null },
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    miValues: [
      { text: 'Not defined', value: null },
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ],
    maValues: [
      { text: 'Not defined', value: null },
      { text: 'None (N)', value: 'N' },
      { text: 'Low (L)', value: 'L' },
      { text: 'High (H)', value: 'H' }
    ]
  }),

  computed: {
    fieldTypesDescription () {
      return {
        name: 'CVSS Score Field',
        description: `A CVSS (3.0) Score field.<br>
        <br>
        When correctly filled, this field exposes an object with several properties, usable inside the template:<br>
        <ul>
        <li>{variableName.base} the base score</li>
        <li>{variableName.temporal} the temporal score</li>
        <li>{variableName.environmental} the environmental score</li>
        <li>{variablename.vector} the vector string in a CVSS 3.0 format</li></ul><br>
        <br>
        <span style="font-weight: 700">Warning:</span> Environmental value is non-functional for now.`,
        categories: ['Security'],
        parameters: { ...defaultParameters }
      }
    },

    valueToInject () {
      return {
        base: this.baseScore,
        temporal: this.temporalScore,
        environmental: this.environmentalScore,
        vector: this.fullVector
      }
    },

    filledBasicVector () {
      return !(!this.av || !this.ac || !this.pr || !this.ui || !this.s || !this.c || !this.i || !this.a)
    },

    fullVector () {
      if (!this.filledBasicVector) return
      let vector = `CVSS:3.0/AV:${this.av}/AC:${this.ac}/PR:${this.pr}/UI:${this.ui}/S:${this.s}/C:${this.c}/I:${this.i}/A:${this.a}`

      vector += this.e ? `/E:${this.e}` : ''
      vector += this.rl ? `/RL:${this.rl}` : ''
      vector += this.rc ? `/RC:${this.rc}` : ''

      vector += this.cr ? `/CR:${this.cr}` : ''
      vector += this.ir ? `/IR:${this.ir}` : ''
      vector += this.ar ? `/AR:${this.ar}` : ''
      vector += this.mav ? `/MAV:${this.mav}` : ''
      vector += this.mac ? `/MAC:${this.mac}` : ''
      vector += this.mpr ? `/MPR:${this.mpr}` : ''
      vector += this.mui ? `/MUI:${this.mui}` : ''
      vector += this.ms ? `/MS:${this.ms}` : ''
      vector += this.mc ? `/MC:${this.mc}` : ''
      vector += this.mi ? `/MI:${this.mi}` : ''
      vector += this.ma ? `/MA:${this.ma}` : ''
      return vector
    },

    baseScore () {
      return (this.fullVector && cvss.getScore(this.fullVector)) || ''
    },

    temporalScore () {
      return (this.fullVector && cvss.getTemporalScore(this.fullVector)) || ''
    },

    environmentalScore () {
      console.log(cvss)
      console.log(this.fullVector)
      console.log(this.fullVector && cvss.getEnvironmentalScore(this.fullVector))
      return (this.fullVector && cvss.getEnvironmentalScore(this.fullVector)) || ''
    }
  }
  // CVSS:3.0/AV:N/AC:L/PR:N/UI:R/S:C/C:L/I:L/A:N/E:X/RL:X/RC:X/CR:X/IR:X/AR:X/MAV:X/MAC:X/MPR:X/MUI:X/MS:X/MC:X/MI:X/MA:X
  // CVSS:3.0/AV:N/AC:L/PR:N/UI:R/S:C/C:L/I:L/A:N/E:X/RL:X/RC:X/CR:X/IR:X/AR:X/MAV:X/MAC:X/MPR:X/MUI:X/MS:X/MC:X/MI:X/MA:X
  // CVSS:3.0/AV:N/AC:L/PR:N/UI:R/S:C/C:L/I:L/A:N/E:X/RL:X/RC:X/CR:X/IR:X/AR:X/MAV:X/MAC:X/MPR:X/MUI:X/MS:X/MC:X/MI:X/MA:X
}
</script>
