<template>
  <v-app>
    <app-toolbar></app-toolbar>
    <app-drawer></app-drawer>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Toolbar from './components/toolbar'
import Drawer from './components/drawer'
import { mapActions } from 'vuex'

export default {
  name: 'App',

  components: {
    'app-toolbar': Toolbar,
    'app-drawer': Drawer
  },

  async created () {
    this.reconnect()
  },

  methods: {
    ...mapActions('user', ['reconnect'])
  }
}
</script>

<style>
html {
	overflow-y: auto;
}
</style>
