<template>
  <v-navigation-drawer
    v-model="$store.state.app.openDrawer"
    fixed
    clipped
    app
    temporary
    disable-resize-watcher
  >
    <v-toolbar flat>
      <v-list>
        <v-list-item>
          <v-list-item-title class="title">ReGen</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-toolbar>

    <v-divider/>

    <v-list dense class="pt-0">
      <v-list-item @click="changeView('home')">Home</v-list-item>
      <v-list-item @click="changeView('templates')">Templates</v-list-item>
      <v-list-item @click="changeView('documents')">Documents</v-list-item>
      <v-list-item @click="logout">Logout</v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
import { mapMutations, mapActions } from 'vuex'
export default {
  methods: {
    ...mapMutations('app', ['setDrawer']),
    ...mapActions('user', ['logout']),
    changeView (routeName) {
      this.setDrawer(false)
      this.$router.push({ name: routeName })
    }
  }
}
</script>
