<template>
  <v-app-bar app dark color="secondary" class="elevation-10">
    <v-app-bar-nav-icon class="hidden-lg-and-up" @click="setDrawer(true)"></v-app-bar-nav-icon>
    <v-toolbar-title>
      ReGen
      <span v-show="isLogged">({{username}}) </span>
      <span v-show="saving"><v-progress-circular indeterminate :width="2" :size="20" color="white"></v-progress-circular></span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-md-and-down" v-if="isLogged">
      <v-btn text @click="changeView('home')">Home</v-btn>
      <v-btn text @click="changeView('templates')">Templates</v-btn>
      <v-btn text @click="changeView('documents')">Documents</v-btn>
      <v-btn text @click="logout">Logout</v-btn>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  computed: {
    ...mapState('app', ['saving']),
    ...mapState('user', ['username']),
    ...mapGetters('user', ['isLogged'])
  },

  methods: {
    ...mapMutations('app', ['setDrawer']),
    ...mapActions('user', ['logout']),

    changeView (routeName) {
      this.setDrawer(false)
      this.$router.push({ name: routeName })
    }
  }
}
</script>
