<template>
  <v-container>
    <v-row>
      <v-col class="col-md-6 offset-md-3 col-12">Log in:</v-col>
      <v-col class="col-md-6 offset-md-3 col-12"><v-text-field v-model="username" label="username" color="secondary"></v-text-field></v-col>
      <v-col class="col-md-6 offset-md-3 col-12"><v-text-field v-model="password" type="password" label="password" color="secondary"></v-text-field></v-col>
      <v-col align="center" class="col-md-6 offset-md-3 col-12">
        <v-btn v-if="!loggingIn" color="secondary" @click="login">Log in</v-btn>
        <v-progress-circular v-else indeterminate color="secondary"></v-progress-circular>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data: () => ({
    username: '',
    password: ''
  }),

  computed: {
    ...mapState('user', ['loggingIn'])
  },

  methods: {
    ...mapActions('user', ['attemptLogin']),
    async login () {
      let result = await this.attemptLogin({ username: this.username, password: this.password })
      if (!result) return
    }
  }
}
</script>
