<template>
  <v-container v-if="document">
    <div>Document: {{document.name}}</div>
    <v-form v-model="isFormValid">
      <component :ref="field.name" v-for="field of document.fields" :key="field.name" v-bind:is="field.type" :field="field"></component>

      <v-file-input color="secondary" label="Template docx file" v-model="templateFile" :rules="[mandatoryValue, onlyAcceptDocx]" :validate-on-blur="true"></v-file-input>
      <v-btn color="secondary" @click="generateFile()" :disabled="!isFormValid">Generate docx</v-btn>
      <v-btn color="secondary" @click="updateDocument(document)">Save document</v-btn>
    </v-form>
  </v-container>
</template>

<script>
import PizZip from 'pizzip'
import Docxtemplater from 'docxtemplater'
import FileSaver from 'file-saver'
import expressions from 'angular-expressions'

import { mapEntries } from '@/helpers'
import { mapState, mapActions } from 'vuex'

function angularParser (tag) {
  if (tag === '.') {
    return {
      get: function (s) { return s }
    }
  }
  const expr = expressions.compile(tag.replace(/(’|“|”)/g, "'"))
  return {
    get: function (s) {
      return expr(s)
    }
  }
}

expressions.filters.upper = function (input) {
  // This condition should be used to make sure that if your input is undefined, your output will be undefined as well and will not throw an error
  if (!input) return input
  return input.toUpperCase()
}

function readFile (file) {
  return new Promise((res, rej) => {
    // create file reader
    let reader = new FileReader()

    // register event listeners
    reader.addEventListener('loadend', e => res(e.target.result))
    reader.addEventListener('error', rej)

    // read file
    reader.readAsArrayBuffer(file)
  })
}

export default {
  props: ['id'],

  created () {
    this.document = this.documents.find(d => d.id === this.id)
    if (!this.document) this.$router.push('/documents/')
  },

  data: () => ({
    isFormValid: false,
    document: null,
    templateFile: null
  }),

  computed: {
    ...mapState('documents', ['documents']),
    ...mapState('fieldTypes', ['fieldTypes', 'categories']),

    variablesToInject () {
      return mapEntries(this.$refs, ([fieldId, comp]) => [fieldId, comp[0].valueToInject])
    }
  },

  methods: {
    ...mapActions('documents', ['updateDocument']),
    getFieldName (fieldTypeId) {
      return this.fieldTypes[fieldTypeId].name
    },

    async generateFile () {
      console.log(this.variablesToInject)
      console.log(this.templateFile)
      let fileBinaryArray = new Uint8Array(await readFile(this.templateFile))
      console.log(fileBinaryArray)
      let zip = new PizZip()
      zip.load(fileBinaryArray)
      let doc = new Docxtemplater()
      doc.loadZip(zip).setOptions({ parser: angularParser })

      doc.setData(this.variablesToInject)

      console.log(zip)
      console.log(doc)

      try {
        // render the document (replace all occurences of {first_name} by John, {last_name} by Doe, ...)
        doc.render()
        console.log('rendering was fine')
        var out = doc.getZip().generate({
          type: 'blob',
          mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        }) // Output the document using Data-URI
        FileSaver.saveAs(out, 'output.docx')
      } catch (error) {
        var e = {
          message: error.message,
          name: error.name,
          stack: error.stack,
          properties: error.properties
        }
        console.log(JSON.stringify({ error: e }))
        // The error thrown here contains additional information when logged with JSON.stringify (it contains a property object).
        throw error
      }
    },

    mandatoryValue (v) {
      return v !== null && v !== undefined || 'This field is mandatory'
    },

    onlyAcceptDocx (v) {
      return v && v.type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || 'Only docx format is accepted'
    }
  }
}
</script>
