<template>
  <v-container>
    <div>Documents view!</div>

    <div v-for="document in documents" :key="document.id">
      Link: <router-link :to="'/documents/'+document.id+'/'"> {{document.name}} </router-link> <v-icon @click="deleteDocument(document)">mdi-delete</v-icon>
    </div>
  </v-container>
</template>

<script>

import { mapState, mapActions } from 'vuex'

export default {

  data: () => ({

  }),

  computed: {
    ...mapState('documents', ['documents'])
  },

  methods: {
    ...mapActions('documents', ['deleteDocument'])
  }
}
</script>
