<template>
  <v-container v-if="template">
    <div>Template: {{template.name}}</div>

    <v-list>
      <v-list-item v-for="field, fieldIndex in template.fields" :key="field.name">
        <!--<component v-bind:is="field.type" :field="field"></component>-->
        <v-list-item-content>
          <v-col class="col-6">
            <v-text-field :value="field.name" @change="updateFieldName({template, fieldIndex, newName: $event})"></v-text-field>
          </v-col>
          <v-col class="col-6">({{getFieldName(field.type)}})</v-col>
        </v-list-item-content>

      </v-list-item>
    </v-list>

    <v-dialog max-width="1800" v-model="createVariableDialog">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" color="primary">Add variable</v-btn>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Add new variable
        </v-card-title>

        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="col-4">
                <div class="title">Type</div>
                <v-select :items="categories" multiple :persistent-hint="true" hint="Select at least one or more categories" v-model="selectedCategories"></v-select>

                <v-list>
                  <v-list-item v-for="fieldType in filteredFieldTypes" :key="fieldType.id" :style="isSelectedFieldType(fieldType)" @click="selectFieldType(fieldType)">
                    <v-list-item-content>
                      <v-list-item-title>{{fieldType.name}}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col class="col-6">
                <div class="title">Description</div>
                <div v-if="selectedFieldType" v-html="selectedFieldType.description">
                </div>
              </v-col>
              <v-col class="col-2">
                <v-checkbox v-model="createListInstead" label="List" color="secondary"></v-checkbox>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-col cols="12">
            <v-form v-model="isFormValid">
              <v-container>
                <v-row>
                  <v-col class="col-9"><v-text-field v-model="newFieldName" label="New Variable Name" :rules="newVariableNameRules"></v-text-field></v-col>
                  <v-col class="col-3"><v-btn color="secondary" @click="addVariable" :disabled="!isFormValid || !selectedFieldType">Create variable</v-btn></v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn color="secondary" @click="createDocument(template)">Create document</v-btn>
    <v-btn color="secondary" @click="updateTemplate(template)">Save template</v-btn>
  </v-container>
</template>

<script>

import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  props: ['id'],

  created () {
    this.template = this.templates.find(t => t.id === this.id)
    if (!this.template) this.$router.push('/templates/')
    this.selectedCategories = [...this.categories]
  },

  data: () => ({
    template: null,

    // Create variable dialog
    createVariableDialog: false,
    selectedCategories: null,
    selectedFieldType: null,
    newFieldName: '',
    createListInstead: false,

    // Form validation
    isFormValid: true,
    newVariableNameRules: [
      v => !!v || 'The name is required',
      v => v.indexOf(' ') === -1 || 'Spaces are forbidden'
    ]
  }),

  computed: {
    ...mapState('templates', ['templates']),
    ...mapState('fieldTypes', ['fieldTypes', 'categories']),

    filteredFieldTypes () {
      return Object.entries(this.fieldTypes)
        .filter(([fid, fdesc]) => !fdesc.categories || this.selectedCategories.some(category => fdesc.categories.includes(category)))
        .map(([fid, fdesc]) => ({ ...fdesc, id: fid }))
    }
  },

  methods: {
    ...mapActions('documents', ['createDocument']),
    ...mapMutations('templates', ['updateFieldName']),
    ...mapActions('templates', ['updateTemplate']),
    isSelectedFieldType (fieldType) {
      return {
        'background-color': fieldType === this.selectedFieldType ? '#d2d2d2' : 'white',
        'cursor': 'pointer'
      }
    },

    selectFieldType (fieldType) {
      this.selectedFieldType = fieldType
    },

    addVariable () {
      if (this.createListInstead) {
        this.template.fields.push({
          name: this.newFieldName,
          type: 'ListField',
          parameters: {
            fields: [],
            type: this.selectedFieldType.id,
            fieldsDefaultParameters: { ...this.selectedFieldType.parameters }
          }
        })
      } else {
        this.template.fields.push({
          name: this.newFieldName,
          type: this.selectedFieldType.id,
          parameters: { ...this.selectedFieldType.parameters }
        })
      }

      this.createVariableDialog = false
      this.newFieldName = ''
    },

    getFieldName (fieldTypeId) {
      return this.fieldTypes[fieldTypeId].name
    }
  }
}
</script>
