<template>
  <v-container>
    <div>Templates view!</div>

    <div v-for="template in templates" :key="template.id">
      Link: <router-link :to="'/templates/'+template.id+'/'"> {{template.name}} </router-link> <v-icon @click="deleteTemplate(template)">mdi-delete</v-icon>
    </div>

    <v-text-field v-model="newTemplateName" label="New template name"></v-text-field>
    <v-btn color="secondary" @click="createNewTemplate">Create</v-btn>
  </v-container>
</template>

<script>

import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      newTemplateName: ''
    }
  },

  computed: {
    ...mapState('templates', ['templates'])
  },

  methods: {
    ...mapActions('templates', ['createTemplate', 'deleteTemplate']),

    createNewTemplate () {
      this.createTemplate({ name: this.newTemplateName })
      this.newTemplateName = ''
    }
  }
}
</script>
